/target/
**/target/

.direnv/
.env
.env.*

dist/
build/
out/

.DS_Store
Thumbs.db
__pycache__/
.pytest_cache/

*.rpm
*.deb
*.tar.gz
*.zip

gnome-extension/*.shell-extension.zip
gnome-extension/.compiled
gnome-extension/*.zip
gnome-extension/.build/
